* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background: #0d3b66;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  height: 90vh;

  background-image: url("image/university.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.overlay h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  border: none;
  background: #0077ff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
